div-1{
    border-style: solid;
    border-color: red;
    display: block;
    

}

div-2{
    background-color: rgb(238, 111, 132);
    display: block;
    


}

div-3{
    text-decoration: red;
    ;
}
